.sign-in-button
{
    position: absolute;
    top:0;
    right:0;
}


.modal-overlay
{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);

    background-color: grey;
}